
    <aside>
      <div class="navbar-vertical">
        <div class="logo">
          <a class="navbar-brand" href="index.html" >
            <img class="navbar-brand-logo" src="../assets/images/logo.svg" alt="Logo">
          </a>
        </div>
        <div class="navbar-vertical-menu">
          <ul>
            <li class="nav-item">
              <a href="" class="nav-link">
                <img src="../assets/images/menu.svg" alt="">
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <img src="../assets/images/search.svg" alt="">
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <img src="../assets/images/activity.svg" alt="">
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <img src="../assets/images/bag.svg" alt="">
              </a>
            </li>

            <li class="nav-item">
              <a href="" class="nav-link">
                <img src="../assets/images/chart.svg" alt="">
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <img src="../assets/images/groupuser.svg" alt="">
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <img src="../assets/images/wallet.svg" alt="">
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <img src="../assets/images/document.svg" alt="">
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <img src="../assets/images/Paper.svg" alt="">
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <img src="../assets/images/combined-shape.svg" alt="">
              </a>
            </li>
          </ul>
        </div>
        <div class="navbar-vertical-menu-ftr">
          <ul>
            <li class="nav-item">
              <a href="" class="nav-link">
                <img src="../assets/images/user.svg" alt="">
              </a>
            </li>
            </ul>
            </div>
      </div>
    </aside>
    <main class="main-content">
      <header>
        <div class="title-wrap">
          <div class="title">
            <div class="arrow">
              <img src="../assets/images/left-arrow.svg" alt="">
              <img src="../assets/images/right-arrow.svg" alt="">
            </div>
            <h1>User Stories </h1>
          </div>
          <div class="title-selection">
            <label for="">Project: </label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Pensions & Annuity</option>
              <option value="1">Pensions & Annuity</option>
              <option value="2">Pensions & Annuity</option>
              <option value="3">Pensions & Annuity</option>
            </select>
          </div>
        </div>
        <div class="user-profile">
          <ul>
            <li><img src="../assets/images/heart.svg" alt=""></li>
            <li><img src="../assets/images/notifcation.svg" alt=""></li>
          </ul>
        </div>
      </header>
      <div class="content-area">
          <div class="content-list">
            <div class="card">
              <div class="card-header">
                <h3>User Stories List</h3>
                <figure>
                  <img src="../assets/images/plus.svg" alt="">
                </figure>
              </div>
              <div class="card-search">
                <div class="input-group">
                
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  <span class="input-group-text" id="basic-addon1">
                    <img src="../assets/images/filter.svg" alt="">
                  </span>
                </div>
              </div>
              <div class="list-group">
                <ul>
                  <li class="active">
                    <div class="list-group-header">
                      <div class="list-group-title">
                        <figure>
                          <img src="../assets/images/book-open.svg" alt="">
                        </figure>
                        <h4>WAT-936</h4>
                        <figure>
                          <img src="../assets/images/orange-arrow.svg" alt="">
                        </figure>
                      </div>
                      <div class="list-group-btns">
                        <button class="btn btn-review btn-orange">Review</button>
                        <button class="btn btn-trace">Trace</button>
                      </div>
                    </div>
                    <p>As a use, I should have an option to run Ransomware testing for my DB-Table, Database and Column so that how fast....</p>
                  </li>
                  <li>
                    <div class="list-group-header">
                      <div class="list-group-title">
                        <figure>
                          <img src="../assets/images/book-open.svg" alt="">
                        </figure>
                        <h4>WAT-936</h4>
                        <figure>
                          <img src="../assets/images/orange-arrow.svg" alt="">
                        </figure>
                      </div>
                      <div class="list-group-btns">
                        <button class="btn btn-review btn-gray">Dev Done</button>
                        <button class="btn btn-trace">Trace</button>
                      </div>
                    </div>
                    <p>As a use, I should have an option to run Ransomware testing for my DB-Table, Database and Column so that how fast....</p>
                  </li>
                  <li>
                    <div class="list-group-header">
                      <div class="list-group-title">
                        <figure>
                          <img src="../assets/images/book-open.svg" alt="">
                        </figure>
                        <h4>WAT-936</h4>
                        <figure>
                          <img src="../assets/images/orange-arrow.svg" alt="">
                        </figure>
                      </div>
                      <div class="list-group-btns">
                        <button class="btn btn-review btn-skyblue">Review</button>
                        <button class="btn btn-trace">Trace</button>
                      </div>
                    </div>
                    <p>As a use, I should have an option to run Ransomware testing for my DB-Table, Database and Column so that how fast....</p>
                  </li>
                  <li >
                    <div class="list-group-header">
                      <div class="list-group-title">
                        <figure>
                          <img src="../assets/images/book-open.svg" alt="">
                        </figure>
                        <h4>WAT-936</h4>
                        <figure>
                          <img src="../assets/images/orange-arrow.svg" alt="">
                        </figure>
                      </div>
                      <div class="list-group-btns">
                        <button class="btn btn-review btn-orange">Review</button>
                        <button class="btn btn-trace">Trace</button>
                      </div>
                    </div>
                    <p>As a use, I should have an option to run Ransomware testing for my DB-Table, Database and Column so that how fast....</p>
                  </li>
                  <li>
                    <div class="list-group-header">
                      <div class="list-group-title">
                        <figure>
                          <img src="../assets/images/book-open.svg" alt="">
                        </figure>
                        <h4>WAT-936</h4>
                        <figure>
                          <img src="../assets/images/orange-arrow.svg" alt="">
                        </figure>
                      </div>
                      <div class="list-group-btns">
                        <button class="btn btn-review btn-gray">Dev Done</button>
                        <button class="btn btn-trace">Trace</button>
                      </div>
                    </div>
                    <p>As a use, I should have an option to run Ransomware testing for my DB-Table, Database and Column so that how fast....</p>
                  </li>
                  <li>
                    <div class="list-group-header">
                      <div class="list-group-title">
                        <figure>
                          <img src="../assets/images/book-open.svg" alt="">
                        </figure>
                        <h4>WAT-936</h4>
                        <figure>
                          <img src="../assets/images/orange-arrow.svg" alt="">
                        </figure>
                      </div>
                      <div class="list-group-btns">
                        <button class="btn btn-review btn-skyblue">Review</button>
                        <button class="btn btn-trace">Trace</button>
                      </div>
                    </div>
                    <p>As a use, I should have an option to run Ransomware testing for my DB-Table, Database and Column so that how fast....</p>
                  </li>
                  <li >
                    <div class="list-group-header">
                      <div class="list-group-title">
                        <figure>
                          <img src="../assets/images/book-open.svg" alt="">
                        </figure>
                        <h4>WAT-936</h4>
                        <figure>
                          <img src="../assets/images/orange-arrow.svg" alt="">
                        </figure>
                      </div>
                      <div class="list-group-btns">
                        <button class="btn btn-review btn-orange">Review</button>
                        <button class="btn btn-trace">Trace</button>
                      </div>
                    </div>
                    <p>As a use, I should have an option to run Ransomware testing for my DB-Table, Database and Column so that how fast....</p>
                  </li>
                  <li>
                    <div class="list-group-header">
                      <div class="list-group-title">
                        <figure>
                          <img src="../assets/images/book-open.svg" alt="">
                        </figure>
                        <h4>WAT-936</h4>
                        <figure>
                          <img src="../assets/images/orange-arrow.svg" alt="">
                        </figure>
                      </div>
                      <div class="list-group-btns">
                        <button class="btn btn-review btn-gray">Dev Done</button>
                        <button class="btn btn-trace">Trace</button>
                      </div>
                    </div>
                    <p>As a use, I should have an option to run Ransomware testing for my DB-Table, Database and Column so that how fast....</p>
                  </li>
                  
                </ul>
               
              </div>
            </div>
          
          </div>
          <div class="content-info">
            <div >
              <h2 class="info-title">Summary : WAT- 936</h2>
              <div class="test-cases-count row">
                <div class="col-md-6">
                  <h6 class="count-title">Test Cases</h6>
                  <ul>
                    <li class="green">
                      <span>Total</span>
                      <span>03</span>
                    </li>
                    <li class="green">
                      <span>Passed </span>
                      <span>00</span>
                    </li>
                    <li class="red">
                      <span>Failed </span>
                      <span>01</span>
                    </li>
                    <li class="red">
                      <span>Not Executed</span>
                      <span>01</span>
                    </li>
                  </ul>
                  <div class="error">
                    <div class="toast w-100">
                        <div class="toast-body p-0">
                          <img src="../assets/images/alert-octagon.svg" alt="">
                          Test Cases are not modified since user story edit on 20th May 2022
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h6 class="count-title">Test Packs</h6>
                  <ul>
                    <li class="green">
                      <span>Total</span>
                      <span>03</span>
                    </li>
                    <li class="green">
                      <span>Passed </span>
                      <span>00</span>
                    </li>
                    <li class="red">
                      <span>Failed </span>
                      <span>01</span>
                    </li>
                    <li class="red">
                      <span>Not Executed</span>
                      <span>01</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-tabs">
              <div class="tabs-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="testcases-tab" data-bs-toggle="tab" data-bs-target="#testcases-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">TEST CASES</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="testpacks-tab" data-bs-toggle="tab" data-bs-target="#testpacks-tab-pane" type="button" role="tab" aria-controls="testpacks-tab-pane" aria-selected="false">TEST Packs</button>
                  </li>
                 
                </ul>
                <div class="tabs-btns">
                  <button>
                    <img src="../assets/images/plus.svg" alt="">
                  </button>
                  <button>
                    <img src="../assets/images/upload.svg" alt="">
                  </button>
                  <button>
                    <img src="../assets/images/maximize.svg" alt="">
                  </button>
                </div>
              </div>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="testcases-tab-pane" role="tabpanel" aria-labelledby="testcases-tab" tabindex="0">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                          <th scope="col">ID</th>
                          <th scope="col">Summary</th>
                          <th scope="col">Status</th>
                          <th scope="col">Mode</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td ><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                          <td><a href="">Payment _RTGS
                            Outward_09_TC_01</a></td>
                          <td>
                            <p>Verfiy if user is aable to initiate RTGS Outward payment for below combination Customer Type: Corporate Payment Type: RTGS Requested Execution Date: Back Date Instrument Type: CHQ  Instrument Date: Back Date Remittance Amount:  2 Lac Credit Excution Date: Today’s Date  Beneficary Customer Acct Type: SA Charge option: Our Waive Charges: No  </p>
                          </td>
                          <td>
                            <button class="btn btn-td">Automated </button>
                          </td>
                          <td class="text-center">
                            <img src="../assets/images/settings.svg" alt="">
                          </td>
                        </tr>
                        <tr>
                          <td ><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                          <td><a href="">Payment _RTGS
                            Outward_09_TC_01</a></td>
                          <td>
                            <p>Verfiy if user is aable to initiate RTGS Outward payment for below combination Customer Type: Corporate Payment Type: RTGS Requested Execution Date: Back Date Instrument Type: CHQ  Instrument Date: Back Date Remittance Amount:  2 Lac Credit Excution Date: Today’s Date  Beneficary Customer Acct Type: SA Charge option: Our Waive Charges: No  </p>
                          </td>
                          <td>
                            <button class="btn btn-td">Automated </button>
                          </td>
                          <td class="text-center">
                            <img src="../assets/images/settings.svg" alt="">
                          </td>
                        </tr>
                        <tr>
                          <td ><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                          <td><a href="">Payment _RTGS
                            Outward_09_TC_01</a></td>
                          <td>
                            <p>Verfiy if user is aable to initiate RTGS Outward payment for below combination Customer Type: Corporate Payment Type: RTGS Requested Execution Date: Back Date Instrument Type: CHQ  Instrument Date: Back Date Remittance Amount:  2 Lac Credit Excution Date: Today’s Date  Beneficary Customer Acct Type: SA Charge option: Our Waive Charges: No  </p>
                          </td>
                          <td>
                            <button class="btn btn-td">Automated </button>
                          </td>
                          <td class="text-center">
                            <img src="../assets/images/settings.svg" alt="">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane fade" id="testpacks-tab-pane" role="tabpanel" aria-labelledby="testpacks-tab" tabindex="0">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                          <th scope="col">ID</th>
                          <th scope="col">Summary</th>
                          <th scope="col">Status</th>
                          <th scope="col">Mode</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td ><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                          <td><a href="">Payment _RTGS
                            Outward_09_TC_01</a></td>
                          <td>
                            <p>Verfiy if user is aable to initiate RTGS Outward payment for below combination Customer Type: Corporate Payment Type: RTGS Requested Execution Date: Back Date Instrument Type: CHQ  Instrument Date: Back Date Remittance Amount:  2 Lac Credit Excution Date: Today’s Date  Beneficary Customer Acct Type: SA Charge option: Our Waive Charges: No  </p>
                          </td>
                          <td>
                            <button class="btn btn-td">Automated </button>
                          </td>
                          <td class="text-center">
                            <img src="../assets/images/settings.svg" alt="">
                          </td>
                        </tr>
                        <tr>
                          <td ><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                          <td><a href="">Payment _RTGS
                            Outward_09_TC_01</a></td>
                          <td>
                            <p>Verfiy if user is aable to initiate RTGS Outward payment for below combination Customer Type: Corporate Payment Type: RTGS Requested Execution Date: Back Date Instrument Type: CHQ  Instrument Date: Back Date Remittance Amount:  2 Lac Credit Excution Date: Today’s Date  Beneficary Customer Acct Type: SA Charge option: Our Waive Charges: No  </p>
                          </td>
                          <td>
                            <button class="btn btn-td">Automated </button>
                          </td>
                          <td class="text-center">
                            <img src="../assets/images/settings.svg" alt="">
                          </td>
                        </tr>
                        <tr>
                          <td ><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                          <td><a href="">Payment _RTGS
                            Outward_09_TC_01</a></td>
                          <td>
                            <p>Verfiy if user is aable to initiate RTGS Outward payment for below combination Customer Type: Corporate Payment Type: RTGS Requested Execution Date: Back Date Instrument Type: CHQ  Instrument Date: Back Date Remittance Amount:  2 Lac Credit Excution Date: Today’s Date  Beneficary Customer Acct Type: SA Charge option: Our Waive Charges: No  </p>
                          </td>
                          <td>
                            <button class="btn btn-td">Automated </button>
                          </td>
                          <td class="text-center">
                            <img src="../assets/images/settings.svg" alt="">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </main>




